@import './_graphics';

.c-button-bar {
  list-style: none;
  padding: 0;
  margin: 0;
  .hbox;

  &_vertical {
    .vbox;
  }

  li {
    .hbox;
    .o-button {
      flex: 1 1 100%;
    }
  }
}

.o-button {
  display: inline-block;
  height: 3em;
  line-height: 3;
  border: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  vertical-align: middle;
  white-space: nowrap;
  // font-family: inherit;
  font-size: 100%;
  border-radius: @border-radius;
  border: 1px solid transparent;
  overflow: visible;
  cursor: pointer;
  background-color: @color-base;
  color: @color-text;

  &:hover {
    background-color: @color-highlight;
    border-color: mix(@color-base, @color-inset, 50%);
  }

  &:active, &_active {
    background-color: @color-inset;
  }

  &-dropdown {
    .hbox;
    align-items: stretch;
    background-color: @color-base;
    border: 1px solid transparent;
    border-radius: @border-radius;

    &:hover {
      background-color: @color-highlight;
      border-color: mix(@color-base, @color-inset, 50%);

      .o-button-dropdown__toggle {
        border-color: mix(@color-base, @color-highlight, 50%);
        &:hover {
          background-color: transparent;
        }
      }
    }

    &__button {
      flex: 3 0 3em;
      background-color: transparent;
      border: none;
      border-radius: @border-radius 0 0 @border-radius;
      &:hover {
        background-color: transparent;
        border-radius: 0;
      }
    }
    &__toggle {
      flex: 1 0 1em;
      border: none;
      border-radius: 0 @border-radius @border-radius 0;
      border-left: 2px solid @color-base-sep;
      background-color: transparent;
      &::before {
        content: '';
        display: block;
        .triangle-down(@color-text, 0.25em, 0.5em);
      }
    }
  }
}

.o-dropdown-menu {
  display: none;

  &_open {
    display: block;
  }
}