input[type=text], input[type=number], input[type=url] {
  color: @color-text;
  background: hsl(189, 10%, 25%);
  text-align: right;
  border: 1px solid @color-emboss;
  // border-bottom-color: hsla(0,0%,100%,0.0625);
  border-radius: @border-radius;
  padding: 0.2em;
}
input[type=number] {
  &::-webkit-inner-spin-button {
    margin-top: -4px;
    margin-bottom: -5px;
    margin-left: 3px;
  }
}

input[type=color] {
  background: transparent;
  padding: 0;
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    background-color: rgb(0, 0, 0);
    border: 0;
  }
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 0px @color-emboss;
    background: @color-inset;
    // border-radius: 3px; // border-radius creates white edges
    border: none;
    background-image: linear-gradient(to right, transparent, transparent var(--start-value), @color-foreground var(--start-value), @color-foreground var(--end-value), transparent var(--end-value));
  }
  &::-webkit-slider-thumb {
    box-shadow: 1px 2px 3px @color-shadow;
    border: none;
    height: 19px;
    width: 5px;
    border-radius: 1px;
    background: @color-foreground;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    margin-left: 0.5px;
  }
  &:focus::-webkit-slider-runnable-track {
    // background: @color-inset;
  }
}