.triangle-down (@color: #000, @width: 1em, @height: 1em) {
  width: 0;
  height: 0;
  border-left: @width solid transparent;
  border-right: @width solid transparent;

  border-top: @height solid @color;
}