@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.otf') format('opentype');
}
@font-face {
  font-family: 'CaviarDreams_Bold';
  src: url('../fonts/CaviarDreams_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'CaviarDreams_BoldItalic';
  src: url('../fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'CaviarDreams_Italic';
  src: url('../fonts/CaviarDreams_Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams.ttf') format('truetype');
}
@font-face {
  font-family: 'LEDFont';
  src: url('../fonts/LEDFont.woff') format('woff');
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('../fonts/Roboto-BoldCondensed.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-BoldCondensedItalic';
  src: url('../fonts/Roboto-BoldCondensedItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-Condensed.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-CondensedItalic';
  src: url('../fonts/Roboto-CondensedItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'space age';
  src: url('../fonts/space age.ttf') format('truetype');
}

@font-face { font-family: '0zekton rg'; src: url('../watches/hexagen-segment/fonts/0zekton rg.ttf') format('truetype'); }
@font-face { font-family: '232MKRB_'; src: url('../watches/hexagen-segment/fonts/232MKRB_.ttf') format('truetype'); }
@font-face { font-family: '4131341'; src: url('../watches/hexagen-segment/fonts/4131341.ttf') format('truetype'); }
@font-face { font-family: 'BebasNeue Regular'; src: url('../watches/hexagen-segment/fonts/BebasNeue Regular.ttf') format('truetype'); }
@font-face { font-family: 'big_noodle_titling'; src: url('../watches/hexagen-segment/fonts/big_noodle_titling.ttf') format('truetype'); }