@import '../../app/node_modules/font-awesome/less/font-awesome';
@fa-font-path:   "../../app/node_modules/font-awesome/fonts";
@import './fonts';

@color-base: #3E494B;
@color-highlight: #596466;
@color-inset: #374143;
@color-base-sep: #394446;
@color-highlight-sep: #556062;
@color-text: #E0E7E6;
@color-text-muted: #7F8488;
@color-emboss: hsla(0, 0%, 100, 0.0625);
@color-shadow: hsla(0, 0%, 0, 0.4);
@color-foreground: #529DE1;

@border-radius: 3px;

@import './_buttons';
@import './_forms';

.vbox, .hbox {
  justify-content: space-between;
  display: flex;
  > * { min-height: 0; }
}
.vbox {
  flex-direction: column;
}
.hbox {
  flex-direction: row;
}

.u-cursor {
  &_pointer {
    cursor: pointer;
  }
}

html, body, .c-app {
  width: 100%;
  height: 100%;
  margin: 0;
  // font-family: "Roboto Sans", "Droid Sans", "Ubuntu", sans;
  font-family: sans;
  color: @color-text;
  font-size: 100%;
  background: @color-base;
  .vbox;
}

.c-app {
  .vbox;
}

.c-toolbar {
  .hbox;
  flex: 0 1 3em;
}
.c-editor {
  .hbox;
  flex: 1 0 1%;
  position: relative;
}
.c-canvas {
  flex: 1 0 50%;
  background: white;
  position: relative;
  overflow: auto;

  canvas, &__overlay {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__overlay {
    * {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      height: 100%;
      width: 0%;
      padding-left: 100%;
      background: transparent;
    }

    &__round {
      background-image: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 70.5%, rgba(0,0,0,0.5) 70.5%);
    }

    &__preview {
      background-position: center center;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
  }
}
.c-dock {
  .vbox;
  overflow: hidden;
  flex: 1 1 0%;
  &_left {
    flex: 0 0 3em;
    border-top: 2px solid @color-inset;
  }
  &_right {
  }
}

.o-splitview {
  flex: 1 1 100%;
    -webkit-user-select: none;
  .hbox;
  &_vertical {
    .vbox;
  }
  &__handle {
    flex: 0 0 3px;
    margin: 0 1px;
    border: 1px solid @color-inset;
    cursor: col-resize;
    background-image: repeating-linear-gradient(
      0deg,
      @color-inset,
      @color-inset .2em,
      @color-base .3em,
      @color-base .4em
    );
    background-size: 100% 3em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: @color-inset;
  }
}

.c-panel {
  .vbox;
  flex: 1;
  height: 100%;
  background: @color-base;
  padding: 0 1px;

  &__title {
    flex: 0 0 2em;
    vertical-align: middle;
    line-height: 2em;
    background: @color-highlight;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-size: 90%;
    font-spacing: 2px;
    text-shadow: 1px 1px 0px hsla(0, 0%, 100, 0.0625);
    -webkit-user-select: none;
  }
  &__body {
    flex: 1;
    overflow: auto;
  }

  &_properties {
    flex: 1 1 2em;

    &_empty {
      flex: 0 1 2em;
    }
  }
}

// .o-modal {
//   display: none;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 30%;
//   margin-left: -15%;
//   margin-top: -10%;
//   z-index: 1000;


//   &_visible {
//     display: block;
//   }
// }
.o-modal {
  .hbox;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  justify-content: center;
  align-items: baseline;
  background-color: rgba(0, 0, 0, 0.5);

  &_visible {
    display: flex;
  }

  &__aligner {
    position: relative;
    width: 100%;
    min-width: 30em;
    max-width: 70em;
    margin-top: 17vh;
    height: 65vh;
    border-radius: @border-radius;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  }
  &__content {
    .c-panel;
    height: 100%;
    padding: 0 1px;

    &__header {
      .hbox;
      @height: 3em;
      flex: 0 0 @height;
      line-height: @height;
      box-sizing: border-box;
      background: @color-highlight;

      &__title {
        padding: 0 @height/2;
        font-weight: bold;
      }
      &__close-button {
        .o-button;
        flex: 0 0 @height;
        text-align: center;
      }
    }
    &__body {
      .vbox;
      padding: 0;
    }
  }
}
.c-model-properties__body {
  margin: 2em;
}

.c-layers {
  background: @color-inset;
  list-style: none;
  margin: 0;
  padding: 0.25px 0px;
  -webkit-user-select: none;

  &__layer {
    margin: 2px 0px 0px;
    padding: 0.5em 1em 0.5em 0;
    background: @color-base;
    .hbox;
    align-items: center;
    vertical-align: middle;
    cursor: default;

    &.selected {
      background: @color-highlight;
    }

    @height: 3em;

    &__visibility-toggle {
      flex: 0 0 3em;
      &_off {
      }
    }
    &__thumb {
      flex: 0 1 3em;
      margin-top: 0.2em;
      margin-right: 4px;
      height: @height;
      width: @height;
      border: 1px solid @color-text-muted;
      .background-checker(@height/8);
      > div {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        // border: 0;
      }
    }
    &__type-indicator {
      flex: 0 1 1em;
      margin-top: 0.2em;
    }
    &__title {
      flex: 1 1 5em;
      margin-top: 0.2em;
      padding-left: 0.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.c-property-editor {
  .hbox;
  align-items: center;
  padding: 0.25em 0.5em;

  &__script-toggle {
    flex: 0 0 2em;
    padding: 0 0.5em;
    margin-right: 0.5em;
  }

  &__label {
    flex: 1 0 30%;
  }
  &__input {
    flex: 1 1 70%;
    .hbox;
    align-items: baseline;

    &_color {
      flex: 0 1 0;
    }
    &_checkbox {
      flex: 0 1 0;
    }
    &_select { }
    &_alignment { }
    &_range { }

    &__widget {
      flex: 1 1 100%;
      &_range {
        flex: 1 1 70%;
      }
      &_select {
      }
    }
    &__value {
      flex: 1 0 3em;
    }
    &_script {
      .c-property-editor__input__widget_range {
        flex: 1 1 30%;
      }
      .c-property-editor__input__value {
        flex: 1 1 70%;
      }
    }
  }
  &_half-size {
    .c-property-editor {
      flex: 1 1 0%;
    }
  }
}

.c-watch-properties {
  height: 100%;
  background: @color-inset;
  .vbox;

  &__body {
    padding: 0 0.5em;
    overflow: hidden;
    background: @color-base;
    border-bottom: 1px solid @color-base-sep;

    input[type=color] {
      max-width: 3em;
    }
  }
  &__form {
    padding: 0.5em 0;
    margin-bottom: 0.5em;
  }
  &__buttons {
    flex-direction: row-reverse;
    padding: 0 0.5em 0.5em;
  }
  .o-button {
    float: right;
  }
}

.background-checker (@square-size) {
  background: @color-inset;
  background-image:
    linear-gradient(45deg, @color-text-muted 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, @color-text-muted 75%),
    linear-gradient(45deg, @color-text-muted 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, @color-text-muted 75%);

  background-size: @square-size*2 @square-size*2;
  background-position: 0 0, @square-size @square-size, @square-size -@square-size, 0 0;
}

