<ul class="c-layers">
  <ng-container *ngFor="let layerIndex of layerIndexes">
      <!-- [layer]="watchService.watch.layers[layerIndex]" -->
    <div editor-layer
      [index]="layerIndex"
      [selected]="layerIndex == selectedLayerIndex"
      (selectedChange)="onSelectionChange(layerIndex, $event)"
      [visible]="getLayerVisible(layerIndex)"
      [onlyVisible]="onlyVisibleIndex == layerIndex"
      (onlyVisibleChange)="onOnlyVisibleChange(layerIndex, $event)"
    ></div>
  </ng-container>
</ul>