<!-- <img id="tester0" style="position: absolute; z-index: 999; top: 0; left: 0; opacity: 0.5; width: auto; height: 33%;"> -->
<div class="c-editor"
  (keydown)="onInput($event)"
>

  <aside class="c-dock c-dock_left">
    <ul class="c-button-bar c-button-bar_vertical">

      <li><button class="o-button fa fa-mouse-pointer"
        [class.o-button_active]="activeTool == 'pointer'"
        (click)="setActiveTool('pointer')"></button></li>
      <li><button class="o-button fa fa-arrows"
        [class.o-button_active]="activeTool == 'move'"
        (click)="setActiveTool('move')"></button></li>

    </ul>
  </aside>


  <ui-splitview right_min_size=20>
    <div ui-splitview-left class="c-canvas" id="canvas"
      [style.background]="backgroundColor"
      (mouseup)="onCanvasMouseUp($event)"
    >

      <div class="c-canvas__overlay"
        [style.width]="canvasHeight+'px'"
        [style.height]="canvasHeight+'px'">
        <div class="c-canvas__overlay__round"
          [style.display]="isRoundOverlayVisible ? 'block' : 'none'">
        </div>
        <div class="c-canvas__overlay__preview"
          [style.display]="isPreviewOverlayVisible ? 'block' : 'none'"
          [style.height]="canvasHeight+'px'"
          [style.paddingLeft]="canvasHeight+'px'"
          [style.backgroundImage]="dataURLPreviewImage">
        </div>
      </div>

    </div>

    <!-- <div class="o-resizer"
      (mousedown)="onResizerMouseDown($event)"
    ></div> -->

    <div ui-splitview-right class="c-dock c-dock_right">

      <div class="c-panel">
        <div class="c-panel__title">Layers</div>
        <div class="c-panel__body">

          <editor-layers *ngIf="watchLoaded" [(selectedLayerIndex)]="layerSelected" [layerIndexes]="layer_numbers"></editor-layers>

        </div>
      </div>

      <div class="c-panel c-panel_properties" [class.c-panel_properties_empty]="layerSelected == -1">
        <div class="c-panel__title">Properties</div>
        <div class="c-panel__body">

          <editor-layer-properties *ngIf="watchLoaded && layerSelected != -1" [(layer)]="watchService.watch.layers[layerSelected]"></editor-layer-properties>

        </div>
      </div>

    </div>

  </ui-splitview>

</div>

<!-- <div class="o-modal" [class.o-modal_visible]="isPropertiesVisible">
  <div class="o-modal__aligner">
    <div class="o-modal__content">
      <div class="o-modal__content__header">
        <div class="o-modal__content__header__title">Watch</div>
        <div class="o-modal__content__header__close-button" (click)="onTogglePropertiesVisible()"><i class="fa fa-close"></i></div>
      </div>
      <div class="o-modal__content__body">

        <div *ngIf="watchLoaded" class="c-model-properties__body">

          <div property-editor [scriptable]=false name="name" text="Name" type="text" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="name" text="Name" type="text" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="author" text="Author" type="text" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="description" text="Description" type="text" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="features" text="Features" type="text" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="web_link" text="Web Link" type="url" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="bg_color" text="Background Color" type="color" [model]="watchService.watch.properties" (modelChange)="updateBackgroundColor($event)"></div>
          <div property-editor [scriptable]=false name="hotword_bg" text="Show hotword background" type="checkbox" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="hotword_loc" text="Hotword location" type="alignment" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="ind_bg" text="Show indicator background" type="checkbox" [model]="watchService.watch.properties"></div>
          <div property-editor [scriptable]=false name="ind_loc" text="Indicator location" type="alignment" [model]="watchService.watch.properties"></div>

        </div>

      </div>
    </div>
  </div>
</div> -->