<div class="form-horizontal">
  <div property-editor name="opacity" text="Opacity" type="range" min=0 max=100 step=1 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
  <div class="hbox">
    <div property-editor name="x" text="X" type="range" min=-512 max=512 step=10 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties" [half_size]=true></div>
    <div property-editor name="y" text="Y" type="range" min=-512 max=512 step=10 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties" [half_size]=true></div>
  </div>
  <div property-editor name="alignment" text="Alignment" type="alignment" [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
  <div property-editor name="rotation" text="Rotation" type="range" min=-360 max=360 step=5 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>

  <ng-container *ngIf="layer.properties.type == 'image' || layer.properties.type == 'shape'">
    <div property-editor name="width" text="Width" type="range" min=1 max=2048 step=10 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
    <div property-editor name="height" text="Height" type="range" min=1 max=2048 step=10 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
  </ng-container>

  <div property-editor name="skew_x" text="Skew X" type="range" min=-90 max=90 step=5 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
  <div property-editor name="skew_y" text="Skew Y" type="range" min=-90 max=90 step=5 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>

  <ng-container *ngIf="layer.properties.type == 'image' || layer.properties.type == 'shape'">
    <ng-container *ngFor="let property of ['display', 'shader', 'tap_action']">
      <ng-container *ngIf="layer.properties[property]">
        <div property-editor [name]="property" [text]="property | capitalise" type="text" min=1 max=2048 step=10 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="layer.properties.type == 'text' || layer.properties.type == 'text_ring'">
    <div property-editor name="text" text="Text" type="text" [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
    <div property-editor name="font" text="Font" type="font" [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
    <!-- TODO: Make sure the range min/max is correct -->
    <div property-editor name="text_size" text="Text Height" type="range" min=1 max=2048 step=10 [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
    <div property-editor name="transform" text="Transform" type="select" [options]="['No transform', 'Uppercase', 'Lowercase']" [model]="layer.properties" [calculatedModel]="layer.calculatedProperties"></div>
  </ng-container>

</div>