<li class="c-layers__layer" [class.selected]="selected" (click)="onSelect($event)">
  <button (click)="onToggleVisibility($event); $event.stopPropagation()" class="o-button c-layers__layer__visibility-toggle fa" aria-hidden="true"
    [class.fa-eye]="visible"
    [class.fa-eye-slash]="!visible"
  ></button>
  <div class="c-layers__layer__thumb">
    <div [style.backgroundImage]="getLayerThumb()"></div>
  </div>
  <span class="c-layers__layer__type-indicator fa" aria-hidden="true"
    [class.fa-picture-o]="getLayerType() == 'image'"
    [class.fa-font]="getLayerType() == 'text'"
    [class.fa-star]="getLayerType() == 'shape'"
    [class.fa-sun-o]="getLayerType() == 'markers'"
  ></span>
  <span class="c-layers__layer__title">
    {{ getLayerName() }}
  </span>
</li>