<button *ngIf="scriptable" (click)="toggleIsScript()" [class.o-button_active]="isScript" class="o-button fa fa-terminal c-property-editor__script-toggle"></button>
<label [attr.for]="id" class="c-property-editor__label">
  {{text}}:
</label>
<div class="c-property-editor__input c-property-editor__input_{{type}}" [class.c-property-editor__input_script]="isScript" [tooltip]="tooltip">
  <!-- <input *ngIf="isScript"
    [id]="id+'Value'" class="c-property-editor__input__widget" type="text"
    [value]="value"
    (input)="onModelChange($event)">
  <ng-container *ngIf="! isScript" [ngSwitch]="type"> -->
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'select'">
      <select [id]="id" class="c-property-editor__input__widget c-property-editor__input__widget_select"
        [value]="value"
        (input)="onModelChange($event)"
        (dblclick)="onDoubleclick($event)"
      >
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
      </select>
    </ng-container>
    <ng-container *ngSwitchCase="'alignment'">
      <input [id]="id" class="c-property-editor__input__widget c-property-editor__input__widget_alignment"
        type="text"
        [value]="value"
        (input)="onModelChange($event)"
      >
    </ng-container>
    <ng-container *ngSwitchCase="'range'">
      <div class="u-cursor_pointer"
        (wheel)="onWheel($event)"
        (mousedown)="onRangeWrapperClick($event)"
        (mousemove)="onRangeWrapperClick($event)">
        <input [id]="id" class="c-property-editor__input__widget c-property-editor__input__widget_range"
          type="range"
          [min]="min" [max]="max" [step]="step"
          [value]="range_value"
          (input)="onModelChange($event)"
          (mousedown)="$event.preventDefault();"
          (dblclick)="onDoubleclick($event)"
        >
      </div>
      <input [id]="id+'Value'" class="c-property-editor__input__value"
        [type]="isScript ? 'text' : 'number'"
        [value]="value"
        (input)="onModelChange($event)"
        (wheel)="onWheel($event)"
        (dblclick)="onDoubleclick($event)"
      >
    </ng-container>
    <ng-container *ngSwitchDefault>
      <input [id]="id" class="c-property-editor__input__widget"
        [type]="type"
        [value]="value"
        (input)="onModelChange($event)"
        (wheel)="onWheel($event)"
        (dblclick)="onDoubleclick($event)"
      >
    </ng-container>
  </ng-container>
</div>