<div class="o-button-dropdown" dropdown>
  <button (click)="onOpenWatchFile()" type="button" class="o-button o-button-dropdown__button">
    <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;
    Load
  </button>
  <button type="button" class="o-button o-button-dropdown__toggle" dropdownToggle></button>
  <ul class="o-dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
    <li role="menuitem"><a (click)="onOpenWatchFolder()" class="o-dropdown-menu__item" href="#">
      <i class="fa fa-folder" aria-hidden="true"></i>&nbsp;
      Load watch directory
    </a></li>
  </ul>
</div>

<div>
  <button (click)="onToggleRoundOverlay()" class="o-button" [class.o-button_active]="isRoundOverlayVisible">
    <i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
    Overlay
  </button>
  <button (click)="onTogglePreviewOverlay()" class="o-button" [class.o-button_active]="isPreviewOverlayVisible">
    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
    Preview
  </button>
  <button (click)="onToggleProperties()" class="o-button" [class.o-button_active]="isPropertiesVisible">
    <i class="fa fa-info" aria-hidden="true"></i>&nbsp;
    Watch Properties
  </button>
</div>