<div class="c-watch-properties__body">
  <div class="c-watch-properties__form">
    <div property-editor [scriptable]=false name="name" text="Name" type="text" [model]="properties" (modelChange)="onModelChange('name', $event)"></div>
    <div property-editor [scriptable]=false name="author" text="Author" type="text" [model]="properties" (modelChange)="onModelChange('author', $event)"></div>
    <div property-editor [scriptable]=false name="description" text="Description" type="text" [model]="properties" (modelChange)="onModelChange('description', $event)"></div>
    <div property-editor [scriptable]=false name="features" text="Features" type="text" [model]="properties" (modelChange)="onModelChange('features', $event)"></div>
    <div property-editor [scriptable]=false name="web_link" text="Web Link" type="url" [model]="properties" (modelChange)="onModelChange('web_link', $event)"></div>
    <div property-editor [scriptable]=false name="bg_color" text="Background Color" type="color" [model]="properties" (modelChange)="updateBackgroundColor($event)"></div>
    <div property-editor [scriptable]=false name="hotword_bg" text="Show hotword background" type="checkbox" [model]="properties" (modelChange)="onModelChange('hotword_bg', $event)"></div>
    <div property-editor [scriptable]=false name="hotword_loc" text="Hotword location" type="alignment" [model]="properties" (modelChange)="onModelChange('hotword_loc', $event)"></div>
    <div property-editor [scriptable]=false name="ind_bg" text="Show indicator background" type="checkbox" [model]="properties" (modelChange)="onModelChange('ind_bg', $event)"></div>
    <div property-editor [scriptable]=false name="ind_loc" text="Indicator location" type="alignment" [model]="properties" (modelChange)="onModelChange('ind_loc', $event)"></div>
  </div>
</div>
<div class="c-watch-properties__buttons c-button-bar">
  <button class="o-button" (click)="onClose()">Close</button>
</div>